@use './abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include sans;
	overflow-x: hidden;
	min-height: 200vh;
}

.container {
	width: 90%;
	margin-inline: auto;

	@include mq(large) {
		width: 70%;
	}
}

.btn {
	text-decoration: none;
	color: var(--clr-dark-primary);
	font-weight: 600;
	position: relative;
	&:hover {
		color: white;
		&::after {
			height: 1.9rem;
			z-index: -1;
		}
	}

	&::after {
		content: '';
		width: 100%;
		height: 3px;
		background-color: var(--clr-red-accent);
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -0.3rem;
		padding: 0 0.1rem;
		transition: height 0.1s;
	}
}
