@use './media' as *;

@mixin sans {
	font-family: 'Open Sans', sans-serif;
}

@mixin popins {
	font-family: 'Poppins', sans-serif;
}

@mixin section-top {
	padding-top: 5rem;
}

@mixin section-title {
	@include popins;
	text-align: center;
	font-size: 2.5em;
	font-size: 1.7em;
	font-size: clamp(1.7em, 3vw, 2.5em);
	color: var(--clr-dark-primary);

	@include mq(medium) {
		text-align: left;
	}

	span {
		color: var(--clr-dark-secondary);
		display: block;
	}
}
