@use '../../../sass/abstracts' as *;

.project {
	width: 100%;
	aspect-ratio: 1;
	position: relative;
	border-radius: 10px;
	isolation: isolate;
	overflow: hidden;
	margin-bottom: 1rem;

	// medium screen
	@include mq(medium) {
		margin-bottom: 0;
	}

	// for items that span 2 grid spaces
	&--span-2 {
		grid-column: span 2;
		aspect-ratio: 2.01;

		.info-is-down {
			.project__button {
				margin-top: -1.5rem;

				@include mq(medium) {
					margin-top: 0;
				}
			}
		}
	}

	img {
		width: 100%;
	}

	&__full-image {
		display: none;
	}

	&__info {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 1rem;
		background: linear-gradient(
			0deg,
			rgba(25, 41, 58, 1) 0%,
			rgba(25, 41, 58, 0) 90%
		);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: white;
		transition: transform 0.5s;

		h2,
		p {
			opacity: 1;
			transition: opacity 0.4s;
		}

		&::after {
			content: '';
			width: 100%;
			background: linear-gradient(
				0deg,
				rgba(25, 41, 58, 1) 80%,
				rgba(25, 41, 58, 0) 100%
			);
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			opacity: 0;

			@include mq(large) {
				display: none;
			}
		}

		& > * + * {
			margin-top: 1rem;
		}
	}

	&__button {
		font-size: 2.5rem;
		border: solid 2px white;
		border-radius: 50px;
		padding: 0.5rem;
		position: absolute;
		top: 0.5rem;
		left: 50%;
		transform: translateX(-50%) rotate(180deg);
		cursor: pointer;
		z-index: 1;
		transition: transform 0.5s;

		@include mq(large) {
			display: none;
		}

		@media (max-width: 375px) {
			top: -0.6rem;
		}
	}
}

.info-is-down {
	transform: translateY(85%);
	h2,
	p {
		opacity: 0;
	}

	@include mq(medium) {
		transform: translateY(80%);
	}

	&::after {
		opacity: 1;
		transition: opacity 0.05s 0.4s;
	}
	.project__button {
		transform: translateX(-50%) rotate(0);
	}
}

// rule for large screen
@include mq(large) {
	.project:hover {
		.project__info {
			transform: translateY(0);
			h2,
			p {
				opacity: 1;
				transition: opacity 0.4s;
			}
		}
	}
}
