@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins&display=swap");
:root {
  --clr-dark-primary: #19293a;
  --clr-dark-secondary: #506473;
  --clr-test-secondary: #e2e4e6;
  --clr-red-accent: #c0345e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  min-height: 200vh;
}

.App {
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin-inline: auto;
}
@media (min-width: 63em) {
  .container {
    width: 70%;
  }
}

.btn {
  text-decoration: none;
  color: var(--clr-dark-primary);
  font-weight: 600;
  position: relative;
  width: fit-content;
}
.btn:hover {
  color: white;
}
.btn:hover::after {
  height: 1.9rem;
  z-index: -1;
}
.btn::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--clr-red-accent);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.3rem;
  padding: 0 0.1rem;
  transition: height 0.1s;
}

.btn-secondary {
  color: white;
}
.btn-secondary::after {
  background-color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 1s;
  z-index: 1;
}
.navbar--show-navbar {
  transform: translateY(0);
  transition: transform 0.3s;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__brand {
  width: 45vw;
  max-width: 12.5rem;
  margin-right: 1rem;
}
@media (min-width: 63em) {
  .navbar__brand {
    transform: translateX(-25%);
  }
}
.navbar__main-nav {
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100vh;
  width: 75%;
  max-width: 20rem;
  background-color: var(--clr-dark-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-top: 5rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
.navbar__main-nav > * + * {
  margin-top: 2rem;
}
@media (min-width: 63em) {
  .navbar__main-nav {
    position: relative;
    top: auto;
    right: auto;
    height: inherit;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 50%;
    max-width: 30rem;
    transform: translateX(0);
  }
  .navbar__main-nav > * + * {
    margin-top: 0rem;
  }
}
.navbar__main-nav--is-open {
  transform: translateX(0);
}
.navbar__main-nav a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 1.2rem;
}
.navbar__main-nav a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  opacity: 0;
  transition: opacity 0.2 s;
}
.navbar__main-nav a:hover::after, .navbar__main-nav a:focus::after {
  opacity: 1;
  outline: none;
}
.navbar img {
  width: 100%;
}
.navbar__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 29px;
  width: fit-content;
}
.navbar__hamburger div {
  width: 40px;
  height: 5px;
  border-radius: 100px;
  background-color: var(--clr-dark-primary);
  transition: transform 0.3s, opacity 0.3s;
}
.navbar__hamburger--is-close-btn {
  z-index: 1;
}
.navbar__hamburger--is-close-btn div {
  background-color: var(--clr-red-accent);
}
.navbar__hamburger--is-close-btn div:nth-of-type(1) {
  transform: rotate(45deg) translateY(17px);
}
.navbar__hamburger--is-close-btn div:nth-of-type(3) {
  transform: rotate(-45deg) translateY(-17px);
}
.navbar__hamburger--is-close-btn div:nth-of-type(2) {
  transform: translateX(-50px);
  opacity: 0;
}
@media (min-width: 63em) {
  .navbar__hamburger {
    display: none;
  }
}

.isActive {
  opacity: 0.5;
  cursor: no-drop;
}
.isActive:hover::after,
.isActive :focus::after {
  opacity: 0 !important;
}

.hero__content {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
@media (min-width: 63em) {
  .hero__content {
    width: 50%;
    padding-left: 15vw;
    display: flex;
    align-items: center;
  }
}
.hero__content-wrapper {
  display: grid;
  text-align: center;
}
@media (min-width: 63em) {
  .hero__content-wrapper {
    text-align: left;
    width: 70%;
  }
}
.hero__title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: var(--clr-dark-primary);
  order: 2;
  margin-bottom: 2rem;
}
.hero__title span {
  color: var(--clr-dark-secondary);
  display: block;
}
.hero__title span {
  display: block;
  white-space: nowrap;
}
.hero__tagline {
  order: 1;
  text-transform: uppercase;
  color: var(--clr-red-accent);
  margin-bottom: 2rem;
}
.hero__blurb {
  order: 3;
  color: var(--clr-dark-secondary);
  margin-bottom: 2rem;
}
.hero .btn {
  order: 4;
  width: fit-content;
  margin-inline: auto;
}
@media (min-width: 63em) {
  .hero .btn {
    margin: 0;
  }
}
.hero__image {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/Spaniel01_gradient@2x.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}
@media (min-width: 63em) {
  .hero__image {
    width: 50vw;
    right: 0;
    left: auto;
    opacity: 1;
    z-index: 0;
    background-image: url("./assets/Spaniel01_gradient.png");
  }
}

.project {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  background-color: hotpink;
  border-radius: 10px;
  isolation: isolate;
  overflow: hidden;
}
.project img {
  width: 100%;
}
.project__full-image {
  display: none;
}
.project__info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: linear-gradient(0deg, #19293a 0%, rgba(25, 41, 58, 0) 90%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  transition: transform 0.5s;
}
.project__info::after {
  content: "";
  width: 100%;
  background: linear-gradient(0deg, #19293a 80%, rgba(25, 41, 58, 0) 100%);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.project__info > * + * {
  margin-top: 1rem;
}
.project__button {
  font-size: 2.5rem;
  border: solid 2px white;
  border-radius: 50px;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  cursor: pointer;
  z-index: 1;
  transition: transform 0.5s;
}

.info-is-down {
  transform: translateY(85%);
}
.info-is-down::after {
  opacity: 1;
  transition: opacity 0.05s 0.4s;
}
.info-is-down .project__button {
  transform: translateX(-50%) rotate(0);
}

.projects {
  padding-top: 5rem;
}

.testimonial-card {
  padding: 2rem 2rem;
  position: relative;
  background-color: var(--clr-test-secondary);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}
.testimonial-card.isFrontCard {
  background-color: var(--clr-dark-primary);
  color: white;
  transform: scale(110%);
}
.testimonial-card.isFrontCard .testimonial-card__comment {
  color: white;
}
.testimonial-card__comment {
  position: relative;
  margin-bottom: 3rem;
  font-size: clamp(1.2em, 2vw, 1.625em);
  font-style: italic;
  line-height: 2rem;
  color: var(--clr-dark-secondary);
}
.testimonial-card__comment svg {
  opacity: 0.3;
  font-size: 3rem;
  position: absolute;
}
.testimonial-card__comment .quote-open {
  left: -1rem;
  top: -1.5rem;
}
.testimonial-card__comment .quote-close {
  bottom: -1rem;
  right: -1rem;
}
.testimonial-card__image-full {
  display: none;
  width: 6rem;
}
.testimonial-card__image-mobile {
  width: 100%;
  max-width: 6rem;
}
.testimonial-card__name {
  font-weight: 700;
  font-size: clamp(1.1em, 2vw, 1.3em);
  margin-bottom: 0.7rem;
}
.testimonial-card__role {
  font-size: clamp(1.1em, 2vw, 1.3em);
}

.testimonials {
  padding-top: 5rem;
}
.testimonials__title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: var(--clr-dark-primary);
  margin-bottom: 3rem;
}
.testimonials__title span {
  color: var(--clr-dark-secondary);
  display: block;
}

.swiper {
  padding: 4rem 2rem !important;
  overflow: visible;
}
@media (min-width: 1400px) {
  .swiper {
    overflow: hidden;
  }
}

.pagination-container {
  text-align: center;
  margin-top: 2rem;
}
.pagination-container .swiper-pagination {
  bottom: 1rem !important;
}
.pagination-container .swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.7rem !important;
}
.pagination-container .swiper-pagination-bullet-active {
  background-color: var(--clr-dark-primary);
  transform: scale(140%);
}

.loading {
  display: grid;
  place-items: center;
}
.loading img {
  width: 100%;
  max-width: 900px;
}
