@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins&display=swap");
:root {
  --clr-dark-primary: #19293a;
  --clr-dark-secondary: #506473;
  --clr-test-second: #e2e4e6;
  --clr-red-accent: #c0345e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  min-height: 200vh;
}

.container {
  width: 90%;
  margin-inline: auto;
}
@media (min-width: 63em) {
  .container {
    width: 70%;
  }
}

.btn {
  text-decoration: none;
  color: var(--clr-dark-primary);
  font-weight: 600;
  position: relative;
}
.btn:hover {
  color: white;
}
.btn:hover::after {
  height: 1.9rem;
  z-index: -1;
}
.btn::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--clr-red-accent);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.3rem;
  padding: 0 0.1rem;
  transition: height 0.1s;
}

.navbar {
  position: fixed;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 1s;
  z-index: 1;
}
.navbar--show-navbar {
  transform: translateY(0);
  transition: transform 0.3s;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__brand {
  width: 45vw;
  max-width: 12.5rem;
  margin-right: 1rem;
}
@media (min-width: 63em) {
  .navbar__brand {
    transform: translateX(-25%);
  }
}
.navbar__main-nav {
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100vh;
  width: 75%;
  max-width: 20rem;
  background-color: var(--clr-dark-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-top: 5rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
.navbar__main-nav > * + * {
  margin-top: 2rem;
}
@media (min-width: 63em) {
  .navbar__main-nav {
    position: relative;
    top: auto;
    right: auto;
    height: inherit;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 50%;
    max-width: 30rem;
    transform: translateX(0);
  }
  .navbar__main-nav > * + * {
    margin-top: 0rem;
  }
}
.navbar__main-nav--is-open {
  transform: translateX(0);
}
.navbar__main-nav a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 1.2rem;
}
.navbar__main-nav a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  opacity: 0;
  transition: opacity 0.2 s;
}
.navbar__main-nav a:hover::after, .navbar__main-nav a:focus::after {
  opacity: 1;
  outline: none;
}
.navbar img {
  width: 100%;
}
.navbar__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 29px;
  width: fit-content;
}
.navbar__hamburger div {
  width: 40px;
  height: 5px;
  border-radius: 100px;
  background-color: var(--clr-dark-primary);
  transition: transform 0.3s, opacity 0.3s;
}
.navbar__hamburger--is-close-btn {
  z-index: 1;
}
.navbar__hamburger--is-close-btn div {
  background-color: var(--clr-red-accent);
}
.navbar__hamburger--is-close-btn div:nth-of-type(1) {
  transform: rotate(45deg) translateY(17px);
}
.navbar__hamburger--is-close-btn div:nth-of-type(3) {
  transform: rotate(-45deg) translateY(-17px);
}
.navbar__hamburger--is-close-btn div:nth-of-type(2) {
  transform: translateX(-50px);
  opacity: 0;
}
@media (min-width: 63em) {
  .navbar__hamburger {
    display: none;
  }
}

.isActive {
  opacity: 0.5;
  cursor: no-drop;
}
.isActive:hover::after,
.isActive :focus::after {
  opacity: 0 !important;
}

.hero__content {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
@media (min-width: 63em) {
  .hero__content {
    width: 50%;
    padding-left: 15vw;
    display: flex;
    align-items: center;
  }
}
.hero__content-wrapper {
  display: grid;
  text-align: center;
}
@media (min-width: 63em) {
  .hero__content-wrapper {
    text-align: left;
    width: 70%;
  }
}
.hero__title {
  order: 2;
  font-family: "Poppins", sans-serif;
  color: var(--clr-dark-primary);
  font-size: clamp(1.7em, 3vw, 3em);
  margin-bottom: 2rem;
}
.hero__title span {
  display: block;
  color: var(--clr-dark-secondary);
  white-space: nowrap;
}
.hero__tagline {
  order: 1;
  text-transform: uppercase;
  color: var(--clr-red-accent);
  margin-bottom: 2rem;
}
.hero__blurb {
  order: 3;
  color: var(--clr-dark-secondary);
  margin-bottom: 2rem;
}
.hero .btn {
  order: 4;
  width: fit-content;
  margin-inline: auto;
}
@media (min-width: 63em) {
  .hero .btn {
    margin: 0;
  }
}
.hero__image {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/Spaniel01_gradient@2x.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}
@media (min-width: 63em) {
  .hero__image {
    width: 50vw;
    right: 0;
    left: auto;
    opacity: 1;
    z-index: 0;
    background-image: url("./assets/Spaniel01_gradient.png");
  }
}
